<div class="celebrities-list">
  <h2>Listado de Celebrities</h2>
  <hr>
  {{#each celebrities}}

  <a href="/celebrities/{{id}}">{{name}}</a> - <a href="/celebrities/{{id}}/delete">Borrar</a> - <a href="/celebrities/{{id}}/edit">Edit</a><br>

  {{/each}}
</div>