<h2>Inserta una nueva Celebrity</h2>
<hr>
<form action="/celebrities/new" method="POST">
  <div class="form-group">
    <label for="">Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" name="name"
      placeholder="Enter Celebrity´s Name">
  </div>
  <div class="form-group">
    <label for="">Occupation</label>
    <input type="text" class="form-control" id="exampleInputEmail1" name="occupation"
      placeholder="Enter Celebrity´s Occupation">
  </div>
  <div class="form-group">
    <label for="">Catch Phrase</label>
    <input type="text" class="form-control" id="exampleInputEmail1" name="catchPhrase"
      placeholder="Enter Celebrity´s Catch Phrase">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>